.service_item {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: .7rem;
    border-radius: 5px;
    cursor: pointer;
}

.service_item span i {
    font-size: 1.5rem;
    background: var(--button-color);
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 400 !important;
}

.service_item h3 {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.service_item p {
    font-size: .8rem;
    margin-top: 4px;
    color: rgb(119, 119, 119);
}