.badge-danger {
    background-color: var(--danger);
    border-radius: 5px;
    width: min-content;
}

.badge-info {
    background-color: var(--info);
}

.nav-link:hover p {
    color: #fff;
}

.active p {
    color: #fff;
}

.nav-link {
    cursor: pointer;
}

.inner p {
    color: #fff;
    font-weight: 600;
}

.buy_button {
    margin-right: 20px;
}

select {
    display: block;
    padding: 8px 20px;
    border: 1px solid var(--primary-color) !important;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
    color: var(--primary-color);
    width: 100%;
}

td span {
    display: block;

}
span.admin {
    background-color: rgb(117, 0, 117);
    border: 0 !important;
    outline: none;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 20px;
    border-radius: 5px;
    width: 100%;
}

span.vendor {
    background-color: rgb(209, 178, 1);
    border: 0 !important;
    outline: none;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 20px;
    border-radius: 5px;
    width: 100%;
}

span.user {
    background-color: rgb(0, 126, 0);
    border: 0 !important;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    width: 100%;
}

input {
    border: 1px solid var(--primary-color) !important;
}

.action {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.action .info {
    background-color: var(--info);
    border-radius: 5px;
    color: #fff !important;
    /* width: 30%; */
    padding: 10px 20px !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.action .danger {
    background-color: var(--danger);
    border-radius: 5px;
    color: #fff !important;
    /* width: 30%; */
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.form_group div {
    width: 50%;
}

.modal-danger {
    color: var(--danger);
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    margin: 0px 10px;
}

.modal-danger-bg {
    background-color: var(--danger);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0px 10px;

}