.table tr td img {
    width: 60px !important;
    height: 60px !important;
    object-fit: contain;
}

td i {
    cursor: pointer;
}

td,th {
    color: var(--primary-color);
}

.no_products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no_products button {
    border-radius: 5px !important;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.subtotal_wrapper {
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 4px;
    border:2px solid var(--primary-color);
}

.subtotal_wrapper .nav_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtotal_wrapper .nav_btns a {
    border-radius: 5px !important;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px !important;
    font-weight: 500;
    margin-top: 10px;
}

tr td i {
    color: #E80000;
    font-size: large;
}
