.common_section {
    background: linear-gradient( rgba(0,0,0,0.555),rgba(0,0,0,0.567)),url('../assets/images/common_section_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common_section h1 {
    color: #fff;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .common_section {
        padding: 70px 0px;
    }
    .common_section h1 {
        font-size: 1.4rem;
    }
}

