.product_details {
    margin-top: 80px;
}

.product_details h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.product_rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3px;
}

.product_rating span i {
    color: coral;
}

.product_price {
    font-size: 1.3rem;
    font-weight: 500;
}

.cart_btn {
    border-radius: 5px !important;
    background: var(--primary-color);
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem !important;
}

.numberInput .ui.button {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    width: 40px;
    color: #fff;
    font-size: large;
    text-align: center;
    height: 30px;
}

.numberInput .ui.input > input {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
    height: 30px;
    width: 100px;
}


.tab_wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.active_tab {
    font-weight: 600;
    position: relative;
}

.active_tab::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: var(--button-color);
    position: absolute;
    bottom: -4px;
    left: 25%;
}

.tab_content p {
    line-height: 30px;
}

.review_wrapper ul li span {
    color: coral;
    font-weight: 600;
}

.review_wrapper ul li p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.review_form {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.review_form h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.form_group input,
.form_group textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}

.form_group input:focus,
.form_group textarea:focus {
    outline: none;
}

.form_group span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: coral;
    font-weight: 600;
    cursor: pointer;
}

.form_group {
    margin-bottom: 30px;
}

.related_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .product_details h2 {
        font-size: 1.2rem;
    }

    .rating_grp {
        column-gap: 1rem !important;
    }
}