@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.opt-container {
  @apply flex justify-between gap-2;
}
.opt-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}
.auth_form {
    padding: 40px;
    border-radius: 5px;
    margin-top: 4px;
    background-color: var(--primary-color);
}

.auth_btn {
    border-color: #fff;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    transition: .3s ease-in-out;
    border-radius: 5px;
    width: 50% !important;
}

.auth_btn:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.auth_form p {
    color: white;
}

.auth_form a{
    color: darkturquoise !important;
}

.auth_form input {
    width: 80%;
    height: 45px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.or{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    color: white;
}

.or hr{
    width: 45%;
    color: white;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 5px 0;
    width: 70%;
    cursor: pointer;
}

.social_item img {
    width: 1.8rem;
    height: 1.8rem;
}

.social_item p {
    color:white;
}

/* ADDED */
.react-tel-input{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    

}

.react-tel-input .form-control{
   height: 45px !important;
   width:80% !important;
   border: 0 !important;
   box-sizing: border-box !important;
}

