.auth_form, .validate {
    padding: 40px;
    border-radius: 5px;
    margin-top: 4px;
    background-color: var(--primary-color);
}

.auth_btn {
    border-color: #fff;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    transition: .3s ease-in-out;
    border-radius: 5px;
    padding: inherit 80px !important;
}

.reset_btn {
    display: inline-flex;
    align-items: center;
    font-size: 14pt;
    width: max-content;
}

.auth_btn:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.auth_form p {
    color: white;
}

.auth_form a{
    color: darkturquoise !important;
}

.auth_form .reset {
    width: 100%;
    text-align: right;
}

.auth_form input {
    width: 80%;
    height: 45px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.or{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    color: white;
}

.or hr{
    width: 45%;
    color: white;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 5px 0;
    width: 70%;
    cursor: pointer;
}

.social_item img, .social_item i {
    width: 1.8rem;
    height: 1.8rem;
}

.social_item p {
    color:white;
}

.loader {
    border: 5px solid rgb(153, 153, 153); /* Light grey */
    border-top: 5px solid var(--primary-color); /* Blue */
    border-radius: 50%;
    margin-right: 20px;
    width: 22px;
    height: 22px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.popup {
    vertical-align: middle;
    align-items: center;
}

.popup_body {
    align-items: center;
}

.popup_btn {
    background-color: white;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 10px;
    border: 3px var(--primary-color) solid;
    padding: 10px 20px;
    transition: .3s ease-in-out;
}

.popup_btn:hover {
    color: white;
    background-color: var(--primary-color);
}
/* ADDED */
.react-tel-input{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    

}

.react-tel-input .form-control{
   height: 45px !important;
   width:80% !important;
   border: 0 !important;
   box-sizing: border-box !important;
}

