.product_item {
    cursor: pointer;

}

.product_info h3{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.product_info a:hover {
    color: inherit;
}

.product_info span{
    color: var(--small-text-color);
    font-size: 0.9rem;
}

.product_card_bottom .price {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product_card_bottom .add_cart{
    font-size: 1rem;
    padding: 5px 10px;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}