.footer_container {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer_text {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.74);
    margin-bottom: 20px;
}

.footer_quick_links ul li{
    background: transparent !important;
}

.footer_quick_links ul li a {
    color: rgba(255, 255, 255, 0.74);
}

.quick_link_title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1rem;
}

.footer_contact li, .footer_contact p {
    color:rgba(255, 255, 255, 0.74);
}

.footer_contact li span {
    font-size: 1.2rem;
}

.footer_copyright {
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.74);
    margin-top: 50px;
    text-align: center;
}